DOMAIN_NAME: "example.com"
EMAIL: "example@example.com"

ADVERTISE_ADDR: "127.0.0.1"
REMOTE_ADDRS: "127.0.0.1"

GIT_FOLDER: "/home/{{ user }}/docker"
NETWORK_NAME: 'network_name'
USER_ID: "1000"
GROUP_ID: "1000"

NO_CACHE: "false"

REPOSITORY:
  URL: "https://github.com/example/example.git"
  BRANCH: "dev"

REGISTRY_NAME: "localhost:5000/"

# POSTGRES
POSTGRES_ENV_VARS:
  USER: "user"
  PASSWORD: "password"
  DB: "abz"
  PORT: "5432"
  HOST: "abz_postgres"

DATABASE_URL: "postgresql://{{ POSTGRES_ENV_VARS.USER }}:{{ POSTGRES_ENV_VARS.PASSWORD }}@{{ POSTGRES_ENV_VARS.HOST }}:{{ POSTGRES_ENV_VARS.PORT }}/{{ POSTGRES_ENV_VARS.DB }}"

# REDIS
REDIS_ENV_VARS:
  PORT: "6379"
  HOST: "abz_redis"
  CACHE_TTL: "3600"
  DB: "0"
  HASH_NAME: "ABZ"

# CONVERTER
CONVERTER_ENV_VARS:
  HOST: "abz_converter"
  PORT: "8800"
  MAX_PHOTO_SIZE: "5242880"
  DEFAULT_PHOTO_HEIGHT: "70"
  DEFAULT_PHOTO_WIDTH: "70"
  DEFAULT_PHOTO_QUALITY: "100"
  DEFAULT_PHOTO_FORMAT: "jpeg"

# API
API_ENV_VARS:
  APP_ENV: "production"
  CONVERTER_URL: "{{ CONVERTER_ENV_VARS.HOST }}:{{ CONVERTER_ENV_VARS.PORT }}"
  LOG_LEVEL: "DEBUG"
  PROTOCOL: "https"
  HOST: "{{ DOMAIN_NAME }}"
  PORT: "8000"
  JWT_ACCESS_SECRET: "jwt-access-secret-key"
  JWT_ACCESS_EXPIRES_IN: "40m"
  JWT_ALGORITHM: "HS256"
  JWT_CACHE_PREFIX: "jwt"
  JWT_CACHE_TTL: "2400"
  PAGE_COUNT_ROWS: "10"
  REDIS_PORT: "{{ REDIS_ENV_VARS.PORT }}"
  REDIS_HOST: "{{ REDIS_ENV_VARS.HOST }}"
  REDIS_CACHE_TTL: "{{ REDIS_ENV_VARS.CACHE_TTL }}"
  REDIS_DB: "{{ REDIS_ENV_VARS.DB }}"
  REDIS_HASH_NAME: "{{ REDIS_ENV_VARS.HASH_NAME }}"
  UPLOAD_FOLDER_PATH: "public/uploads"
  IMAGES_URL_PATH: "images/users"
  MAX_PHOTO_SIZE: "5242880"
  DEFAULT_PHOTO_FORMAT: "jpg"
  FAKER_SEED_FACTOR: "42"
  SEED_USERS_COUNT: "45"

# APP
VUE_APP_API_URL: "https://{{ API_ENV_VARS.HOST }}/api/v1"
